body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: black;
    font-size: 90%;
    text-align: center;
}

h3 {
    color: rgba(28, 26, 26, 0.444);
    margin: 0%
}

.container {
    grid-template-columns: 180px minmax(170px, 1fr);
    grid-template-rows: 50px auto;
    gap: 5px;
    display: grid;
}

.item {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    color: rgb(69, 69, 69);
    font-size: 50%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

img {
    height: 40px;
}

.visual {
    max-width: 100%;
    height: auto;
}

a:hover img {
    transform: scale(1.1);
    opacity: 0.9;
}

.sidebar {
    text-align: end;
    background-color: rgb(236, 236, 236);
}

input {
    width: 37px;
}

.parameter {
    text-align: center;
}

.interface {
    font-size: 15px;
    border: 0px;
}

.interface ul {
    margin: 5px;
    padding: 0px;
    text-align: center;
    color: red;
}

.notationHit {
    text-align: center;
    color: red;
    font-size: 50px;
}

.footer {
    position: sticky;
    bottom: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(236, 236, 236);
}

button {
    color: red;
    height: 30px;
}

#inline {
    display: inline-block;

}

.set {
    font-size: 60%;
    color: gray;
}


#main {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

#wind {
    width: 150px;
    height: 18px;
    text-align: center;
    border: 3px solid red;
    border-radius: 10px;
    color: red;
    position: absolute;
    top: 0;
    right: 20;
    bottom: 0;
    left: 40px;
    background-color: white;
}

#main:target {
    display: block;
}